button{
    display: block;
    margin: 20px;
}
.search{
    color: rgb(46, 183, 183);
    border: 2px solid rgb(46, 183, 183);
    border-radius: 25px;
    height: 30px;
    width: 150px;
 

}
.mas{
    color: white;
    background-color: rgb(36, 178, 178);
    border-radius: 100%;
    border:none;
    height: 50px;
    width: 50px;

    

}
.create{
    color: white;
    background-color: rgb(77, 142, 226);   
    border: 2px solid black;
    box-shadow: 3px 5px black;
    height: 30px;
    width: 150px;


}